/* 全体 */
*{
  font-family: 游ゴシック体,YuGothic;
}
body {
    width: 1152px;
    /* height: 100%; */
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    position: relative;
    overflow-x: hidden;
  
}

/* header */
header {
  height: 10vh;
  display: flex;
  padding: 5px 0;
  justify-content: flex-end;
  font-size: 18px;
  position: relative;
}

.logo_img {
  z-index: 1;
  position: absolute;
  left: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list {
  display: flex;
}

.nav_list li {
  margin-right: 30px;
}

.nav_list li:last-child {
  margin-right: 0;
}

.menu-trigger {
  display: none;
}

/* hamburger */
.hamburger {
  width: 44px;
  height: 20px;
  margin: 30px auto 10px;
  display: none;
}

.hamburger span:after,
.hamburger span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -18px;
}

.hamburger span:after {
  top: 18px;
}

.hamburger span {
  position: relative;
  display: block;
}

.hamburger span,
.hamburger span:after,
.hamburger span:before {
  width: 100%;
  height: 8px;
  background-color: #000;
  transition: all 0.5s; 
  backface-visibility: hidden;
  border-radius: 2px;
}

.hamburger.on span {
  background-color: transparent;
}

.hamburger.on span:before {
  transform: rotate(45deg) translate(15px, 15px);
}

.hamburger.on span:after {
  transform: rotate(-45deg) translate(10px, -11px);
}
/* /hamburger */

/* drawer */
#drawer-bg {
  display: none;
  position: fixed;
  z-index: 1;
  top: 170px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
}

.drawer {
  /* display: none; */
  position: absolute;
  z-index: 1;
  top: 170px;
  right: -100vh;
  height: 185vh;
  width: 200px;
  background-color: rgba(8, 8, 8, .5);
  transition-duration: 600ms;
  color: #fff;
}

.drawer.on {
  right: 0;
  transition-duration: 600ms;
}

.drawer li {
  font-size: 32px;
  margin-bottom: 35px;
}

.drawer li:last-child {
  margin-bottom: 0;
}
/* /drawer */
/* /header */

/* main-image */
main {
  position: relative;
  margin-bottom: 100px;
}

.main_img {
  display: flex;
  justify-content: space-around;
}

.img_text {
  position: absolute;
  left: 59%;
  bottom: -3%;
}

.caption {
  font-size: 20px;
  font-weight: 100;
  margin-top: 15px;
}
/* /main-image */

/* blog */
#blog_title{
  text-align:center;
  font-size:30px;
  margin: 50px;
}
#column3{
  display: grid;
  grid-template-columns: 330px 330px 330px;
  justify-content: space-around;
}

#blog_content{
  width:330px;
  height:470px;
  margin-bottom:20px;
  /*position: relative;*/
  /* padding-left:10px;
  padding-right:10px; */

}

#blog_content img{
  width:330px;
  height:210px;
}


#blog_content p{
  /* width:330px;
  height:470px; */
  margin-bottom:15px;
  padding-right:15px;
  padding-left:15px;
}
.read_more{
 /* position: absolute;
  right: 0%;
  bottom: 0%;*/
  display:flex;
  align-items: flex-end;
  justify-content:flex-end;
  
}

/*　blogシャドウ*/
    .shadow_box {
      display: inline-block;
      transition: all .6s ease-in-out;
    }
    .shadow_box img {
      display: block;
      margin-left:-15px;
      margin-right:-15px;
    }
    .shadow_box:hover {
      box-shadow:1px 1px 12px rgba(0,0,0,.45);
    }
/*　blogシャドウ*/
/* /blog */

/* footer*/
#footer{
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  background-color:black;
  width:100%;
  height:20vh;
  margin-top:50px;
}
/* /footer */


/*スマートフォン*/
@media screen and (max-width: 767px) {
  body {
    min-width: 375px;
    max-width: 767px;
  }

  /* header */
  header {
    height: 20vh;
    display: flex;
    justify-content: center;
    position: static;
  }

  .logo_img {
    position: static;
    margin: auto 220px auto auto;
    z-index: 0;
  }

  .logo_img img {
    height: 150px;
    width: 150px;
  }

  nav {
    display: none;
  }

  .hamburger {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    margin-left: 0;
    /* margin: auto; */
  }
  /* /header */

  /* main-image */
  main {
    text-align: center;
  }

  .main_img img {
    margin: 0 auto;
  }

  .img_text {
    top: 5%;
    left: 10%;
    right: 60%;
    bottom: 0;
  }

  .caption {
    font-size: 22px;
  }

  .br::before {
    content: "\A";
    white-space: pre;
  }

  /* slider */
  /* .slider {
    overflow: hidden;
    position: relative;
  }

  .main_img {
    position: absolute;
    z-index: -2;
  } */
  /* /slider */
  /* /main-image */

  /*blog*/
  #column3{
    display:flex;
    flex-direction: column;
    align-items: center;

  }
 
  /*blog end*/




}


/* PC */
@media (min-width: 768px) {
  body{
    min-width: 768px;
    max-width: 1125px;
  }

}